# Python
__pycache__

# Jupyter
.ipynb_checkpoints

# PyTorch datasets
MNIST/
FashionMNIST/

# PyTorch models
models/
*.pt
*.pth

# macOS
.DS_Store

# nohup
nohup*.out

# archives
*.zip
*.tar.gz

# editors
.vscode

# Udacity
.udacity-pa